body {
	font-family: 'Roboto' !important;
	background-color: #FCFCFC;
}

.profile-picture {
	border-radius: 50%;
	max-width: 80%;
	max-height: 80%;
	border: 4px solid #FCFCFC;
}

header {
	padding-top: 20px;
	font-size: 25px;
	margin-bottom: 40px;
}

.title {
	display: inline-block;
	text-align: right;
}

.contact, .contact .material-icons {
	font-size: 16px;
}

header .row {
	align-items: center;
}

.center {
	margin: auto;
	width: 50%;
	height: auto;
	padding: 10px;
	margin: auto;
	position: relative;
	font-family: 'Roboto';
}

.github-icon {
	height: 16px;
	width: 16px;
}

.content h5 {
	font-size: 1.54rem;
	margin-top: 15px;
	margin-bottom: 7px;
}

.job-tasks {
	margin-top: 0;
}

footer {
	margin-top: 40px;
}

footer>.container {
	font-size: 13px;
}

.footer-copyright {
	font-size: 1em;
}

section {
	margin-top: 50px;
}

.job, .skill, .degree {
	margin-bottom: 15px;
}

.content h4 {
	font-size: 27px;
	margin-bottom: 15px;
	margin-top: 0;
}

.job-dates, .job-company, .skill-name, .skill-level {
	display: inline-block;
	margin-right: 15px;
}

.misc {
	padding-bottom: 15px;
}

.job-url {
	margin-top: 10px;
}

.page-footer a, header a {
	color: #81d4fa;
}

header i {
	color: black;
}

.like, .language, .skill {
	margin-bottom: 3px;
}

header h4 span {
	font-size: 20px;
}
