body {
	font-family: 'Roboto' !important;
	background-color: #FCFCFC;
}

.profile-picture {
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
	border: 4px solid #FCFCFC;
}

header {
	padding-top: 50px;
	font-size: 25px;
	margin-bottom: 40px;
}

.title {
	display: inline-block;
	text-align: right;
}

.contact {
	font-size: 16px;
}

.contact .material-icons {
	font-size: 16px;
}

header .row {
	display: flex;
	align-items: center;
}

.center {
    margin: auto;
    width: 50%;
    height: auto;
    padding: 10px;
    margin: auto;
    position: relative;
    font-family: 'Roboto';
}

.github-icon {
	height: 16px;
	width: 16px;
}

.content h5 {
	font-size: 1.54rem;
	margin-top: 15px;
	margin-bottom: 7px;
}

.job-tasks {
	margin-top: 0;
}

footer {
	margin-top: 40px;
}

footer>.container {
	font-size: 13px;
}

.footer-copyright {
	font-size: 1em;
}

section {
	margin-top: 50px;
}

.job, .skill, .degree {
	margin-bottom: 15px;
}

.job-role {
	font-size: 27px;
	margin-top: 0;
	margin-bottom: 0;
}

.content h4 {
	font-size: 27px;
	margin-bottom: 15px;
	margin-top: 0;
}

.job-dates, .job-company, .skill-name, .skill-level {
	display: inline-block;
	margin-right: 15px;
}

.misc {
	padding-bottom: 15px;
}

.school h3, .misc h3 {
	margin-bottom: 20px;
}

.job-url {
	margin-top: 10px;
}

.page-footer a, header a {
	color: #d4e157;
}

header i {
	color: black;
}

.like, .language, .skill {
	margin-bottom: 3px;
}