body {
	font-family: 'Roboto' !important;
	background-color: #789FA9 !important;
}

.profile-picture {
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
	border: 3px solid #33556B;
}

header {
	padding-top: 50px;
	font-size: 25px;
	color: #1B344C;
}

header a {
	color: #33556B;
}

.title {
	font-size: 20px;
	text-align: right;
}

.contact {
	font-size: 16px;
}

.contact .material-icons {
	font-size: 16px;
}

header .row {
	display: flex;
	align-items: center;
}

.center {
    margin: auto;
    width: 50%;
    height: auto;
    padding: 10px;
    margin: auto;
    position: relative;
    font-family: 'Roboto';
}

.github-icon {
	height: 16px;
	width: 16px;
}

.job-tasks-title {
	margin-top: 10px;
}

@media (max-width: 1081px) {
	.content>div {
		min-height: 0;
		display: flex;
		flex-direction: column;
		border: 1px solid #1B344C;
		background-color: #A6C4C8;
		border-radius: 5px;
		width: 90%;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
	}
}

.content>div {
	min-height: 0;
	display: flex;
	flex-direction: column;
	border: 1px solid #1B344C;
	background-color: #A6C4C8;
	border-radius: 5px;
	width: 49%;
	margin-right: 10px;
	margin-bottom: 10px;
}

footer {
	margin-top: 40px;
	font-size: 12px;
}

section {
	margin-top: 40px;
}

.job, .skill, .degree {
	margin-bottom: 15px;
}

.job-role {
	font-size: 23px;
	margin-top: 20px;
	margin-bottom: 0;
}

.job-dates, .job-company, .skill-name, .skill-level {
	display: inline-block;
	margin-right: 15px;
}

.category-skills {
	margin-left: 10px;
}

.job-techs-title {
	margin-top: 10px;
}

.misc {
	padding-bottom: 15px;
}