<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Martin Verdier</title>
		<link rel="stylesheet" href="css/cv.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="js/angular.min.js"></script>
	</head>

	<body ng-app="myApp">
		<header class="container">
			<div class="row">
		      	<div class="col-sm-2">
		        	<img src="resources/profile.png" class="profile-picture">
		      	</div>
		      	<div class="col-sm-2 center name">
		        	<p>Martin Verdier</p>
		      	</div>
		      	<div class="col-sm-4 center title">
		        	<p>Backend software developer</p>
		      	</div>
		      	<div class="col-sm-4 center contact">
		        	<p>
		        		<i class="material-icons">phone</i>&nbsp<a href="tel:+33624726458">(+33) 6 24 72 64 58</a>
		        	</p>
		        	<p>
		        		<i class="material-icons">mail</i>&nbsp<a href="mailto:mart.verdier@gmail.com">mart.verdier@gmail.com</a>
		        	</p>
		        	<p>
		        		<img src="resources/GitHub-Mark/PNG/GitHub-Mark-32px.png" class="github-icon">&nbsp<a href="mailto:mart.verdier@gmail.com">mverdier</a>
		        	</p>
		      	</div>
		    </div>
		</header>

		<section class="container" ng-controller="MainController">
			<div class="row content">
		      	<div class="col-sm-5 skills">
		      		<h3>Professional Skills</h3>
		      		<p>Content</p>
		        </div>

		      	<div class="col-sm-5 work">
		      		<h3>Work Experience</h3>
		      		<div class="job" ng-repeat="contract in work">
			      		<div class="job-description">
	                        <div class="job-dates">{{ contract.dates }}</div>
	                        <div class="job-title">{{ contract.title }}</div>
	                        <div class="job-location">{{ contract.location }}</div>
	                    </div>
	                    <div class="job-content">
	                        <div class="job-role">{{ contract.role }}</div>
	                        <div class="job-tasks">{{ contract.tasks }}</div>
	                        <div class="job-techs">{{ contract.techs }}</div>                        
	                        <div class="job-url">
	                            <a ng-href="{{ contract.url }}">{{ contract.displayUrl }}</a>
	                        </div>
	                    </div>
					</div>    
				</div>

				<div class="school col-sm-5 work">
		      		<h3>School Degrees</h3>
					<div class="degree" ng-repeat="degree in school">
						<div class="school-title">{{ degree.title }}</div>
						<div class="school-dates">{{ degree.dates }}</div>
						<div class="school-location">{{ degree.location }}</div>
			      	</div>
			     </div>

	        	<div class="personal col-sm-5 misc">
		      		<h3>Miscellaneous Information</h3>
	        		<p>Content</p>
		      	</div>
		    </div>
		</section>

		<footer>
			<p>Résumé designed and developed by Martin Verdier around October 2016.  I'm not the best with front-end but I try!</p>
			<p>OCTOCAT is the property of GitHub, Inc.  They allow it on profiles or things like that, but I'd rather link back to them anyway <a href="https://github.com/logos">here</a>!</p>
			<p>Speaking of which, this résumé is free of copyright, and you can easily use it as a template for yours, it's open-sources right <a href="https://github.com/mverdier/resume">here on GitHub</a>!</p>
		</footer>

		<!-- Modules -->
	    <script src="js/app.js"></script>

	    <!-- Controllers -->
	    <script src="js/controllers/MainController.js"></script>
	
	</body>
</html>