<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainController">

	<!-- Hey! If you're filling in the résumé for yourself,
		 and don't know where to put your data, take a look
		 down in the js/controller/MainController.js file! 

		 Hey ! Si tu remplis ce CV pour toi, et que tu ne
		 sais pas où mettre tes données, regarde dans le
		 fichier js/controller/MainController.js !
		 (Les commentaires sont en anglais, mais c'est
		 assez simple, désolé si tu ne comprends pas) -->

	<head>
		<meta charset="utf-8" />
		<title ng-if="!locale || locale == 'enUS'">Résumé - {{ person.name }}</title>
		<title ng-if="locale == 'frFR'">CV - {{ person.name }}</title>
		<link rel="stylesheet" href="css/resume.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="js/angular.min.js"></script>
	</head>

	<body>
		<header class="container">
			<div class="row">
				<div class="col-sm-2">
					<img ng-src="{{ person.picture }}" class="profile-picture">
				</div>
				<div class="col-sm-2 center name">
					<p>{{ person.name }}</p>
				</div>
				<div class="col-sm-4 center title">
					<p>{{ person.role }}</p>
				</div>
				<div class="col-sm-4 center contact">
					<p ng-if="person.phone && person.phoneDisplay">
						<a ng-href="tel:{{ person.phone }}"><i class="material-icons">phone</i>&nbsp{{ person.phoneDisplay }}</a>
					</p>
					<p ng-if="person.email">
						<a ng-href="mailto:{{ person.email }}"><i class="material-icons">mail</i>&nbsp{{ person.email }}</a>
					</p>
					<p ng-if="person.github">
						<a ng-href="https://github.com/{{ person.github }}"><img src="resources/GitHub-Mark/PNG/GitHub-Mark-32px.png" class="github-icon">&nbsp{{ person.github }}</a>
					</p>
				</div>
			</div>
		</header>

		<section class="container">
			<div class="row content">
				<div class="col-sm-5 work pull-right" ng-if="work">

					<h3 ng-if="!locale || locale == 'enUS'">Work Experience</h3>
					<h3 ng-if="locale == 'frFR'">Expérience Professionnelle</h3>

					<div class="job" ng-repeat="contract in work">

						<h4 class="job-role">{{ contract.role }}</h4>

						<div class="job-dates">{{ contract.dates }}</div>
						<div class="job-company">{{ contract.company }}</div>

						<div class="job-title">{{ contract.title }}</div>

						<div class="job-location">{{ contract.location }}</div>
						
						<h4 class="job-tasks-title" ng-if="!locale || locale == 'enUS'">Tasks</h4>
						<h4 class="job-tasks-title" ng-if="locale == 'frFR'">Tâches</h4>
						<ul class="job-tasks">
							<li ng-repeat="task in contract.tasks">{{ task.content }}</li>
						</ul>

						<h4 class="job-techs-title" ng-if="contract.techs && (!locale || locale == 'enUS')">Used Technologies</h4>
						<h4 class="job-techs-title" ng-if="contract.techs && locale == 'frFR'">Technologies utilisées</h4>
						<div ng-if="contract.techs" class="job-techs">{{ contract.techs }}</div>  

						<div class="job-url">
							<a ng-href="{{ contract.url }}">{{ contract.displayUrl }}</a>
						</div>

					</div>    
				</div>

				<div class="col-sm-5 skills pull-right" ng-if="skills">

					<h3 ng-if="!locale || locale == 'enUS'">Skills</h3>
					<h3 ng-if="locale == 'frFR'">Compétences</h3>

					<div class="skill" ng-repeat="category in skills">

						<h4 class="skill-category">{{ category.category }}</h4>

						<div class="row category-skills" ng-repeat="s in category.skills">
							<div class="col-sm-3 skill-name">{{ s.name }}</div>
							<div class="col-sm-4 skill-level">{{ s.level }}</div>
							<div class="col-sm-4"></div>
						</div>
					</div>
				</div>

				<div class="school col-sm-5 school pull-right" ng-if="school">

					<h3 ng-if="!locale || locale == 'enUS'">School Degrees</h3>
					<h3 ng-if="locale == 'frFR'">Diplômes</h3>

					<div class="degree" ng-repeat="degree in school">

						<div class="school-title">{{ degree.title }}</div>
						<div class="school-dates">{{ degree.dates }}</div>
						<div class="school-location">{{ degree.location }}</div>

					</div>
				</div>

				<div class="personal col-sm-5 misc pull-right" ng-if="likes || languages">

					<div ng-if="languages && likes">
						<h3 ng-if="!locale || locale == 'enUS'">Miscellaneous Information</h3>
						<h3 ng-if="locale == 'frFR'">Diverses Informations</h3>
					</div>

					<div class="likes" ng-if="likes">

						<div ng-if="languages">
							<h4 ng-if="!locale || locale == 'enUS'">Likes</h4>
							<h4 ng-if="locale == 'frFR'">Intérêts</h4>
						</div>
						<div ng-if="!languages">
							<h3 ng-if="!locale || locale == 'enUS'">Likes</h3>
							<h3 ng-if="locale == 'frFR'">Intérêts</h3>
						</div>

						<div class="like" ng-repeat="like in likes">
							<p>{{ like.title }}</p>
						</div>
					</div>

					<div class="languages" ng-if="languages">

		      			<div ng-if="likes">
							<h4 ng-if="!locale || locale == 'enUS'">Languages</h4>
							<h4 ng-if="locale == 'frFR'">Langues</h4>
			      		</div>
			      		<div ng-if="!likes">
							<h3 ng-if="!locale || locale == 'enUS'">Languages</h3>
							<h3 ng-if="locale == 'frFR'">Langues</h3>
			      		</div>

			      		<div class="language" ng-repeat="language in languages">
			      			<p>{{ language.name }}<span ng-if="locale == 'frFR'"> </span>: {{ language.level }}</p>
			      		</div>
					</div>

				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row" ng-if="!locale || locale == 'enUS'">
					<p>Résumé designed and developed by <a href="http://martin-verdier.com/">Martin Verdier</a> around October 2016.  I'm not the best with front-end but I try!</p>
					<p>OCTOCAT® is the property of GitHub, Inc. They allow its use on profiles or things like that, but I'd rather link back to them anyway <a href="https://github.com/logos">here</a>!</p>
					<p>Speaking of which, this résumé is under the <a href="https://opensource.org/licenses/MIT">MIT License</a>, and you can easily use it as a template for yours, it's open-sourced right <a href="https://github.com/mverdier/resume">here on GitHub</a>!</p>
				</div>

				<div class="row" ng-if="locale == 'frFR'">
					<p>CV réalisé et développé par <a href="http://martin-verdier.com/">Martin Verdier</a> autour d'Octobre 2016.  Je ne suis pas le meilleur en front-end mais je fais des efforts !</p>
					<p>OCTOCAT® est la propriété de GitHub, Inc. Ils autorisent sont utilisation sur des profils et ce genre de choses, mais je préfère rediriger vers eux <a href="https://github.com/logos">ici</a> tout de même !</p>
					<p>À ce propos, ce CV est sous <a href="https://opensource.org/licenses/MIT">license MIT</a>, et vous pouvez l'utiliser pour votre propre usage, il est en open-source <a href="https://github.com/mverdier/resume">ici sur GitHub</a> !</p>
				</div>
			</div>
		</footer>

		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/MainController.js"></script>
	
	</body>
</html>
