<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainController">

	<!-- Hey! If you're filling in the résumé for yourself,
		 and don't know where to put your data, take a look
		 down in the js/controller/MainController.js file! 

		 Hey ! Si tu remplis ce CV pour toi, et que tu ne
		 sais pas où mettre tes données, regarde dans le
		 fichier js/controller/MainController.js !
		 (Les commentaires sont en anglais, mais c'est
		 assez simple, désolé si tu ne comprends pas) -->

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
		<title ng-if="!locale || locale == 'enUS'">Résumé - {{ person.name }}</title>
		<title ng-if="locale == 'frFR'">CV - {{ person.name }}</title>
		<link rel="stylesheet" href="css/resume.css">
		<link rel="stylesheet" href="css/materialize.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="js/angular.min.js"></script>
	</head>

	<body>
		<header class="green darken-1">
			<div class="container grey-text text-lighten-4">
				<div class="row">
					<div class="col l2 s12 center">
						<img ng-src="{{ person.picture }}" class="profile-picture">
					</div>
					<div class="col l6 s12">
						<h4 class="name">{{ person.name }}</h4>
						<h4 class="role">{{ person.role }}</h4>
					</div>
					<div class="col l4 s12 right-align contact">
						<p ng-if="person.phone && person.phoneDisplay">
							<a ng-href="tel:{{ person.phone }}"><i class="material-icons">phone</i>&nbsp{{ person.phoneDisplay }}</a>
						</p>
						<p ng-if="person.email">
							<a ng-href="mailto:{{ person.email }}"><i class="material-icons">mail</i>&nbsp{{ person.email }}</a>
						</p>
						<p ng-if="person.github">
							<a ng-href="https://github.com/{{ person.github }}"><img src="resources/GitHub-Mark/PNG/GitHub-Mark-32px.png" class="github-icon">&nbsp{{ person.github }}</a>
						</p>
					</div>
				</div>
			</div>
		</header>

		<section class="container">
			<div class="row content">
				<div class="col l6 work push-l6 s12" ng-if="work">

					<h3 ng-if="!locale || locale == 'enUS'">Work Experience</h3>
					<h3 ng-if="locale == 'frFR'">Expérience Professionnelle</h3>

					<div class="job card hoverable" ng-repeat="contract in work">
						<div class="card-content">

							<h4 class="job-role">{{ contract.role }}</h4>

							<div class="job-dates">{{ contract.dates }}</div>
							<div class="job-company">{{ contract.company }}</div>

							<div class="job-title">{{ contract.title }}</div>
							<div class="job-contract">{{ contract.type }}</div>

							<div class="job-location">{{ contract.location }}</div>
							
							<h5 class="job-tasks-title" ng-if="!locale || locale == 'enUS'">Tasks</h5>
							<h5 class="job-tasks-title" ng-if="locale == 'frFR'">Tâches</h5>
							<ul class="job-tasks">
								<li ng-repeat="task in contract.tasks">{{ task.content }}</li>
							</ul>

							<h4 class="job-techs-title" ng-if="contract.techs && (!locale || locale == 'enUS')">Used Technologies</h4>
							<h4 class="job-techs-title" ng-if="contract.techs && locale == 'frFR'">Technologies utilisées</h4>
							<div ng-if="contract.techs" class="job-techs">{{ contract.techs }}</div>  

							<div class="job-url">
								<a ng-href="{{ contract.url }}">{{ contract.displayUrl }}</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col l6 skills pull-l6 s12" ng-if="skills">

					<h3 ng-if="!locale || locale == 'enUS'">Skills</h3>
					<h3 ng-if="locale == 'frFR'">Compétences</h3>

					<div class="skill card hoverable" ng-repeat="category in skills">

						<div class="card-content">

							<h4 class="skill-category">{{ category.category }}</h4>

							<div class="row">

								<div ng-if="category.more" class="col s6 skill">
									<h5 ng-if="!locale || locale == 'enUS'">Good at</h5>
									<h5 ng-if="locale == 'frFR'">Bon avec</h5>
									
									<div ng-repeat="s in category.more">{{ s.name }}</div>
								</div>

								<div ng-if="category.less" class="col s6 skill">
									<h5 ng-if="!locale || locale == 'enUS'">Know of</h5>
									<h5 ng-if="locale == 'frFR'">Connus</h5>
									
									<div ng-repeat="s in category.less">{{ s.name }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="school col l6 school pull-l6 s12" ng-if="school">

					<h3 ng-if="!locale || locale == 'enUS'">Degrees</h3>
					<h3 ng-if="locale == 'frFR'">Diplômes</h3>

					<div class="degree card hoverable" ng-repeat="degree in school">

						<div class="card-content">

							<div class="school-title">{{ degree.title }}</div>
							<div class="school-dates">{{ degree.dates }}</div>
							<div class="school-location">{{ degree.location }}</div>

						</div>
					</div>
				</div>

				<div class="personal col l6 misc s12" ng-if="likes || languages">

					<div ng-if="languages && likes">
						<h3 ng-if="!locale || locale == 'enUS'">Miscellaneous Information</h3>
						<h3 ng-if="locale == 'frFR'">Diverses Informations</h3>
					</div>

					<div ng-if="!languages && likes">
						<h3 ng-if="!locale || locale == 'enUS'">Likes</h3>
						<h3 ng-if="locale == 'frFR'">Intérêts</h3>
					</div>

					<div ng-if="!likes && languages">
						<h3 ng-if="!locale || locale == 'enUS'">Languages</h3>
						<h3 ng-if="locale == 'frFR'">Langues</h3>
				</div>

					<div class="likes card hoverable" ng-if="likes">
						<div class="card-content">

							<div ng-if="languages">
								<h4 ng-if="!locale || locale == 'enUS'">Likes</h4>
								<h4 ng-if="locale == 'frFR'">Intérêts</h4>
							</div>

							<div class="like" ng-repeat="like in likes">{{ like.title }}</div>
						</div>
					</div>

					<div class="languages card hoverable" ng-if="languages">
						<div class="card-content">
						<div ng-if="likes">
								<h4 ng-if="!locale || locale == 'enUS'">Languages</h4>
								<h4 ng-if="locale == 'frFR'">Langues</h4>
						</div>

						<div class="language" ng-repeat="language in languages">{{ language.name }}<span ng-if="locale == 'frFR'"> </span>: {{ language.level }}</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="page-footer green darken-1">
			<div class="container grey-text text-lighten-4">
				<div class="row" ng-if="!locale || locale == 'enUS'">
					<p>Résumé designed and developed by <a href="http://martin-verdier.com/">Martin Verdier</a> around October 2016.  I'm not the best with front-end but I try!</p>
					<p>OCTOCAT® is the property of GitHub, Inc. They allow its use on profiles or things like that, but I'd rather link back to them anyway <a href="https://github.com/logos">here</a>!</p>
					<p>Speaking of which, this résumé is under the <a href="https://opensource.org/licenses/MIT">MIT License</a>, and you can easily use it as a template for yours, it's open-sourced right <a href="https://github.com/mverdier/resume">here on GitHub</a>!</p>
				</div>

				<div class="row" ng-if="locale == 'frFR'">
					<p>CV réalisé et développé par <a href="http://martin-verdier.com/">Martin Verdier</a> autour d'Octobre 2016.  Je ne suis pas le meilleur en front-end mais je fais des efforts !</p>
					<p>OCTOCAT® est la propriété de GitHub, Inc. Ils autorisent sont utilisation sur des profils et ce genre de choses, mais je préfère rediriger vers eux <a href="https://github.com/logos">ici</a> tout de même !</p>
					<p>À ce propos, ce CV est sous <a href="https://opensource.org/licenses/MIT">license MIT</a>, et vous pouvez l'utiliser pour votre propre usage, il est en open-source <a href="https://github.com/mverdier/resume">ici sur GitHub</a> !</p>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2016 Martin Verdier
					<a class="grey-text text-lighten-4 right" href="http://martin-verdier.com/LICENSE">MIT License</a>
				</div>
			</div>
		</footer>


		<!-- Materialize's JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Controllers -->
		<script src="js/controllers/MainController.js"></script>
	
	</body>
</html>
